<mat-card class="card">
  <mat-card-content class="login">
    <mat-form-field class="login">
      <label>Username</label>
      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="userObj.username"
      />
      <label>petname</label>
      <input type="text" placeholder="petname" [(ngModel)]="userObj.petname" />
      <label>New Password</label>
      <input
        type="text"
        placeholder="New Password"
        [(ngModel)]="userObj.password"
      />
    </mat-form-field>
  </mat-card-content>

  <mat-action-row class="login">
    <button (click)="forgotpassword()" mat-raised-button color="warn">
      Submit
    </button>
  </mat-action-row>
</mat-card>
