<app-header></app-header>
<mat-divider></mat-divider>

<div *ngIf="isAdmin">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Add Movie </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>Movie Id</mat-label>
        <input
          matInput
          placeholder="Movie Id"
          name="movieId"
          [(ngModel)]="movieObj.movieId"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Movie Name</mat-label>
        <input
          matInput
          placeholder="Movie Name"
          name="movieName"
          [(ngModel)]="movieObj.movieName"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Theater</mat-label>
        <input
          matInput
          placeholder="theater"
          name="theatreName"
          [(ngModel)]="movieObj.theatreName"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Seats</mat-label>
        <input
          matInput
          type="number"
          placeholder="seats"
          [(ngModel)]="movieObj.seats"
          required=""
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Seats Avaliable</mat-label>
        <input
          matInput
          type="number"
          placeholder="seats"
          [(ngModel)]="movieObj.seatsAvalible"
          required
        />
      </mat-form-field>
      <button (click)="addNewMovie()" mat-raised-button color="primary">
        Submit
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<mat-form-field>
  <mat-label>Movies</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Search movie"
    #input
  />
</mat-form-field>

<br />
<button mat-raised-button color="primary" (click)="viewAllMovies()">
  View All Movies
</button>

<hr />
<br />

<div *ngIf="dataSource">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="movieId">
      <th mat-header-cell *matHeaderCellDef>MovieId</th>
      <td mat-cell *matCellDef="let element">
        {{ element.movieId }}
      </td>
    </ng-container>

    <ng-container matColumnDef="movieName">
      <th mat-header-cell *matHeaderCellDef>MovieName</th>
      <td mat-cell *matCellDef="let element">
        <a (click)="showmovie(element.movieId)">{{ element.movieName }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="seats">
      <th mat-header-cell *matHeaderCellDef>Seats</th>
      <td mat-cell *matCellDef="let element">{{ element.seats }}</td>
    </ng-container>

    <ng-container matColumnDef="seatsAvalible">
      <th mat-header-cell *matHeaderCellDef>Avaliable seats</th>
      <td mat-cell *matCellDef="let element">{{ element.seatsAvalible }}</td>
    </ng-container>

    <ng-container matColumnDef="theatreName">
      <th mat-header-cell *matHeaderCellDef>Theater Name</th>
      <td mat-cell *matCellDef="let element">{{ element.theatreName }}</td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <a (click)="deletemovie(element.movieId)" *ngIf="isAdmin"
          ><button mat-raised-button color="primary">Delete</button></a
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
</div>
