<app-header></app-header>

<mat-accordion>
  <mat-expansion-panel showToggle>
    <mat-expansion-panel-header>
      <mat-panel-title (click)="getmovie()"> Book TIcket </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-label>Movie Name</mat-label>
      <input
        matInput
        placeholder="Movie Name"
        [value]="moviedata[1]"
        disabled="true"
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Theater</mat-label>
      <input
        matInput
        placeholder="theater"
        [value]="moviedata[2]"
        disabled="true"
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Seats</mat-label>
      <input matInput type="number" [(ngModel)]="seats" placeholder="seats" />
    </mat-form-field>
    <button mat-raised-button (click)="bookticket()" color="primary">
      Submit
    </button>
  </mat-expansion-panel>
</mat-accordion>
<app-displayalltickets></app-displayalltickets>
